<!-- homepage.component.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">La Cucina</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" routerLink="/menu">Menu</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" routerLink="/order">Order</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" routerLink="/profile">Profile</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard">Dashboard</a>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-success cafe_btn" routerLink="/login">Login</button>
                <button  type="buttton" class="btn btn-danger cafe_btn">logout</button>
            <!--<button *ngIf="!login.isLoggenIn()" class="btn btn-success cafe_btn" routerLink="/jwtlogin">Login</button>-->
            <!--<button *ngIf="login.isLoggenIn()" type="buttton" class="btn btn-danger cafe_btn" (click)="logout()" routerLink="/coupons">logout</button>-->
            </form>
        </div>
    </div>
</nav>