/* homepage.component.css */
.navbar-brand {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    font-style: italic;
    color: white;
}


.navbar-dark .navbar-nav .nav-link {
    color: white;
}

