<div class="content">
    <div class="mask">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-black">
                <h1 class="mb-3">Welcome to the Dashboard</h1>
            </div>
        </div>
    </div>
    <!-- Add dashboard content here -->
    <div class="menu-container lh-base">
        <app-dashboard-menu></app-dashboard-menu>
    </div>
    <br>
    <div class="container-fluid">
        <app-inventory></app-inventory>
    </div>
</div>

