<div class="content">
    <h2>Order</h2>

<ng-container *ngIf="true">
    <div class="container">
        <div class="flex-container">
            <div class="flex-item-left">
                <div class="card">
                    <table class="table table-light table-striped-columns">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Menu item</th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>pizza</td>
                                <td>200</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>pizza</td>
                                <td>200</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>pizza</td>
                                <td>200</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th scope="row">#</th>
                                <td>Total Amount</td>
                                <td>600</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="flex-item-right">
                <div class="card">
                    <table class="table table-light table-striped-columns">
                        <thead>
                            <tr>
                                <th scope="col"><h3><b>Total</b></h3></th>
                                <th scope="col"><h3>Rs.600/-</h3></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row"><h6>GST</h6></td>
                                <td><h6>18%</h6></td>
                            </tr>
                            <tr>
                                <td scope="row"><h6>Discount</h6></td>
                                <td><h6>-18%</h6></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2">
                                    <button class="btn btn-outline-primary pay_btn">Pay Now</button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</ng-container>





<ng-container *ngIf="false">
    <div class="container">
        <div class="card">
            <h5 class="card-title"> Orders in cart</h5>
        </div>
        <div class="center">
            <img src="https://images.unsplash.com/photo-1509315703195-529879416a7d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8b3JkZXIlMjBmb29kfGVufDB8fDB8fHww&auto=format&fit=crop&w=600&q=60" alt="">
            <h4>You have not ordered yet!!!</h4>
            <h6>Order the food now...</h6>
            <button class="btn btn-primary cafe_btn" routerLink="/menu">Order Now</button>
        </div>
    </div>
</ng-container>

</div>