<div class="container-fluid">
    <div class="row d-flex">
        <div class="card col-sm-8">
            <div>
                <h2>Order</h2>
            </div>
            <table class="table table-light table-striped-columns">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Menu Item</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="orderItem" *ngFor="let item of menuItems">
                        <th>{{item.id}}</th>
                        <th>{{item.name}}</th>
                        <th>{{item.price}}</th>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th scope="row">#</th>
                        <td>Total Amount</td>
                        <td>{{totalAmount}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="card col-sm-3">
            <table class="table table-light table-striped-columns">
                <thead>
                    <tr>
                        <th scope="col">
                            <h3><b>Total</b></h3>
                        </th>
                        <th scope="col">
                            <h3>{{totalAmount}}</h3>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">
                            <h6>GST</h6>
                        </td>
                        <td>
                            <h6>18%</h6>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">
                            <h6>Discount</h6>
                        </td>
                        <td>
                            <h6>-18%</h6>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">
                            <button class="btn btn-outline-primary pay_btn" routerLink="/payment">Pay Now</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
