<!--signup-->


<div class="container-fluid" style="padding: 80px;">
    
    <div class="col-xl-6 offset-3">
        <div class="card-body p-md-5 text-black shadow-lg">
        <h1 class="mb-5">Login</h1>
        <form #loginForm="ngForm" (ngSubmit)="formSubmit()">
        <div class="row">
        
        <div class="form-outline mb-4">
            <input type="username" id="form3Example97" class="form-control form-control-lg" required [(ngModel)]="loginData.username" name="username" placeholder="Enter your username"/>
            <label class="form-label" for="form3Example97">Username</label>
        </div>
            
            <div class="form-outline">
                <input type="password" id="form3Example1n" class="form-control form-control-lg" required [(ngModel)]="loginData.password" name="password" placeholder="Enter your password"/>
                <label class="form-label" for="form3Example1n">Password</label>
            </div>
        </div>
        
        <div class="d-flex justify-content-end pt-4">
            <button type="submit" class="btn btn-warning btn-lg ms-2" >Login</button>
        </div>
        </form>
        <div class="text-center mt-3">
            Don't have an account <a routerLink="/signup">Sign-up</a>
        </div>
        </div>
    </div>
</div>
