<div class="content">
    <h3>Manage Inventory </h3>
    <!-- Add dashboard content here -->
    <div class="menu-container lh-base">




<div class="container-fluid">
    <div class="col-md-8 offset-md-3">
        <h3>Create Inventory Item</h3>
        <form (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label for="ids">Id</label>
                <!--<input type="text" class="form-control" id="id" [(ngModel)]="inventoryItems.id" name="id">-->
                <input type="text" class="form-control" id="id" name="id">
            </div>


            <div class="form-group">
                <label for="name">Item Name</label>
                <!--<input type="text" class="form-control" id="name" [(ngModel)]="inventoryItems.name" name="itemName">-->
                <input type="text" class="form-control" id="name" name="itemName">
            </div>

            <div class="form-group">
                <label for="quantity">Quantity</label>
                <!--<input type="text" class="form-control" id="quantity" [(ngModel)]="inventoryItems.quanitiy" name="quantity">-->
                <input type="text" class="form-control" id="quantity" name="quantity">
            </div>
            <button class="btn btn-success" type="submit">Submit</button>
        </form>
    </div>
</div>


<div class="container-fluid">
<h3>Inventory</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Item name</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of inventoryItems">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.quantity}}</td>
                <td>
                    <button (click)="updateInventoryItem(item)" routerLink="/update-inventory">Update</button>
                    <button (click)="deleteInventoryItem(item.id)">Delete</button>
                </td>

            </tr>
        </tbody>
    </table>
</div>




     
</div>
</div>