<div class="content">
    <h3>Manage Inventory </h3>
    <!-- Add dashboard content here -->
    <div class="menu-container lh-base">

<div class="container-fluid">
    <div class="col-md-8 offset-md-2">
        <h3>Create Inventory Item</h3>
        <form (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label for="ids">Id</label>
                <input type="text" class="form-control" id="id" [(ngModel)]="inventoryItem.id" name="id" placeholder="Enter Id">
            </div>

            <div class="form-group">
                <label for="name">Item Name</label>
                <input type="text" class="form-control" id="name" [(ngModel)]="inventoryItem.name" name="itemName" placeholder="Enter name">
            </div>

            <div class="form-group">
                <label for="quantity">Quantity</label>
                <input type="text" class="form-control" id="quantity" [(ngModel)]="inventoryItem.quantity" name="quantity" placeholder="Enter quanitiy of a item">
            </div>
            <br>

            <button class="btn btn-success" type="submit">Submit</button>
        </form>
    </div>
</div>


    <div class="container-lg">
    <h3>Inventory</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Item name</th>
                    <th>Quantity</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of inventoryItems">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.quantity}}</td>
                    <td>
                        <button class="btn btn-primary" (click)="updateInventoryItem(item)" routerLink="/update-inventory">Update</button>
                        <button class="btn btn-danger" (click)="confirmDelete(item.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
</div>

