/* inventory.component.css */
.content {
    background-color: #f4f4f4;
    padding: 8px 16px;
    border-radius: 10px;
}

.container-fluid{
    padding: 20px;
    background-color: #EEEEEE;
    border-radius: 10px;
}

.cafe_btn{
    padding: 4px 8px;
}