/* menu.component.css */
.container {
    margin-top: 30px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    object-fit: cover;
    height: 200px;
}

.btn-primary {
    margin-top: 10px;
}



.menu-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.menu-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.menu-item {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-item h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.menu-item p {
    font-size: 16px;
    margin-bottom: 5px;
}

.menu-item p:last-child {
    margin-bottom: 0;
}

img{
    border-radius: 10px;
}

.card-body{
    border-radius: 10px;
    align-items: center;
}

.cart-top{
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-color: cornsilk;
    background-clip:border-box;
    position: relative;
    border: 1px solid black;
    border-radius: 0.25rem;
}

.items{
    margin: 0px 15px;
    text-align: center;
}



.items a:hover{
    color: blue;
}

h5{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100ch;
}

.card{
    padding: 20px;
    margin: 40px;
}

.card img{
    width: 275px;
    height: 275px;
    margin-bottom: 10px;
    transition: 0.3s ease-in-out;
}

.card img:hover{
    transition: 0.3 ease-in-out;
    transform: scale(1.1);
}



h4.code{
background-color: bisque;
border-radius: 10px;
padding: 5px;
}
