<!-- menu.component.html -->
<div class="container">
<h2 class="mb-4">Cafe Menu</h2>

    <!-- Search Box -->
    <div class="input-group shadow-lg">
        <input type="search" class="form-control" placeholder="Search">
        <span class="input-group-append">
            <button class="btn btn-primary" type="button">&nbsp;
                <i class="fa fa-search">Search</i>
            </button>
        </span>
    </div>
    <br><br>

<!--Cards of menu-->
<div class="container">
    <div class="row">
        <ng-container class="list" *ngFor="let item of menuItems">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="https://images.pexels.com/photos/803963/pexels-photo-803963.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Card image cap">
                <div class="card-body">
                    <h3>{{ item.name }}</h3>
                    <p>{{ item.description }}</p>
                    <p>{{ item.price }}/-</p>
                    <!--
                    <a *ngIf="!login.isLoggenIn()" type="buttton" class="btn btn-secondary" routerLink="/jwtlogin">Login</a>
                    <a *ngIf="login.isLoggenIn()" type="buttton" class="btn btn-primary" (click)="pay(coupon.code,coupon.category,coupon.provider,coupon.description)">GRAB DEAL</a>
                    -->
                    <div class="card-group" style="width:auto;">
                        <button class="btn btn-primary align-center">Order now</button>
                        <button class="btn btn-secondary align-center">Add to cart</button>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>

