<!-- menu.component.html -->
<div class="container">
<h2 class="mb-4">Cafe Menu</h2>

    <!-- Search Box -->
    

    <div class="input-group shadow-lg">
        <input type="search" class="form-control" placeholder="Search">
        <span class="input-group-append">
            <button class="btn btn-primary" type="button">&nbsp;
                <i class="fa fa-search">Search</i>
            </button>
        </span>
    </div>
    <br><br>

<!--Cards of menu-->
<div class="card-body shadow-lg" style="width: 20rem;">
    <img class="shadow" src="https://images.pexels.com/photos/803963/pexels-photo-803963.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="...">
    <div class="card-body" style="text-align: center;">
        <div *ngFor="let item of menuItems">
            <h3>{{ item.name }}</h3>
            <p>{{ item.description }}</p>
            <p>{{ item.price }}/-</p>
            <!-- Display other menu item properties here -->
            <div class="card" style="width: 20rem;">
                <button class="btn btn-primary align-center">Order now</button>
                <button class="btn btn-dark align-center">Add to cart</button>
            </div>
        </div>
    </div>
</div>

