<div class="sidebar">

    <div class="card bg-dark">
        <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
            <img src="https://img.freepik.com/free-icon/profile_318-931771.jpg?t=st=1692352254~exp=1692352854~hmac=4dabbb3d305d877c21b68014c766b48d7a1d538fe2502404bf35fe0fc717ac54" alt="Admin" class="rounded-circle" width="150">
            <div class="mt-2">
                <h5 class="text-light">ram123</h5>
            </div>
            </div>
        </div>
    </div>




    <h3>Admin</h3>
    <!-- Add navigation links here -->
    <ul>
        <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
        <li><a routerLink="/dashboard-menu" routerLinkActive="active">Menu</a></li>
        <li><a routerLink="/order" routerLinkActive="active">Orders</a></li>
        <li><a routerLink="/inventory" routerLinkActive="active">Inventory</a></li>
        <li><a routerLink="/reports" routerLinkActive="active">Users</a></li>
        <li><a routerLink="/reports" routerLinkActive="active">Reports</a></li>
        <!-- Add more navigation links as needed -->
    </ul>
</div>