<div class="sidebar">
    <h3>Admin</h3>
    <!-- Add navigation links here -->
    <ul>
        <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
        <li><a routerLink="/menu" routerLinkActive="active">Menu</a></li>
        <li><a routerLink="/order" routerLinkActive="active">Orders</a></li>
        <li><a routerLink="/inventory" routerLinkActive="active">Inventory</a></li>
        <li><a routerLink="/reports" routerLinkActive="active">Users</a></li>
        <li><a routerLink="/reports" routerLinkActive="active">Reports</a></li>
        <!-- Add more navigation links as needed -->
    </ul>
</div>