<main>
    <div class="hero-section">
        <h1>Welcome to Our Cafe La Cucina</h1>
        <p>Enjoy the best coffee and delicious pastries in town!</p>
        <a routerLink="" class="btn-primary">Learn More</a>
    </div>
</main>


<section class="h-100 bg-dark">
    <div class="text-center bg-image">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white"><br><br>
                        <h1 class="mb-3">Test the Happiness</h1>
                        <!--<a class="btn btn-outline-light btn-lg" routerLink="" role="button">Start</a>-->
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
    
    <div class="container-md">
        <div class="row row-cols-2">
            <div class="col"><img src="https://images.pexels.com/photos/12821517/pexels-photo-12821517.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt=""></div>
            <div class="col"><img src="https://images.pexels.com/photos/15461841/pexels-photo-15461841/free-photo-of-photo-of-a-man-preparing-coffee.jpeg?auto=compress&cs=tinysrgb&w=600" alt=""></div>
            <div class="col"><img src="https://images.pexels.com/photos/3763426/pexels-photo-3763426.jpeg?auto=compress&cs=tinysrgb&w=600" alt=""></div>
            <div class="col"><img src="https://images.pexels.com/photos/1437267/pexels-photo-1437267.jpeg?auto=compress&cs=tinysrgb&w=600" alt=""></div>
        </div>
    </div>
    
    
    <!--Menu-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="color: white;">Menu Category</h2>
                <h3 class="text-muted section-subheading"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 portfolio-item" data-bss-hover-animate="bounce"><a class="portfolio-link" href="#portfolioModal1" data-bs-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">Pizza</div>
                    </div><img class="img-fluid" src="https://logodix.com/logo/1679798.png" alt="loading">
                </a>
    
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item" data-bss-hover-animate="bounce"><a class="portfolio-link" href="#portfolioModal2" data-bs-toggle="modal">
                <div class="portfolio-hover">
                <div class="portfolio-hover-content">Coffee</div>
                    </div><img class="img-fluid" src="https://logodix.com/logo/83429.jpg" alt="loading">
                </a>
    
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item" data-bss-hover-animate="bounce"><a class="portfolio-link" href="#portfolioModal3" data-bs-toggle="modal">
                <div class="portfolio-hover">
                <div class="portfolio-hover-content">Burger</div>
                    </div><img class="img-fluid" src="https://logodix.com/logo/819552.jpg" alt="loading">
                </a>
    
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item" data-bss-hover-animate="pulse"><a class="portfolio-link" href="#portfolioModal4" data-bs-toggle="modal">
                <div class="portfolio-hover">
                <div class="portfolio-hover-content">Ice-cream</div>
                    </div><img class="img-fluid" src="https://logodix.com/logo/19285.jpg" alt="loading">
                </a>
    
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item" data-bss-hover-animate="pulse"><a class="portfolio-link" href="#portfolioModal5" data-bs-toggle="modal">
                <div class="portfolio-hover">
                <div class="portfolio-hover-content">Fries</div>
                    </div><img class="img-fluid" src="https://logodix.com/logo/1780810.jpg" style="padding: 30px;" alt="loading">
                </a>
    
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item" data-bss-hover-animate="pulse"><a class="portfolio-link" href="#portfolioModal6" data-bs-toggle="modal">
                <div class="portfolio-hover">
                <div class="portfolio-hover-content">cakes</div>
                    </div><img class="img-fluid" src="https://logodix.com/logo/456579.jpg" alt="loading">
                </a>
    
            </div>
        </div>
    </div>
    
    
    </section>
    