<div class="container">
<div class="main-body">

        <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
            <div class="card">
            <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                <img src="https://img.freepik.com/free-icon/profile_318-931771.jpg?t=st=1692352254~exp=1692352854~hmac=4dabbb3d305d877c21b68014c766b48d7a1d538fe2502404bf35fe0fc717ac54" alt="Admin" class="rounded-circle" width="150">
                <div class="mt-3">
                    <h4>{{user.username}}</h4>
                </div>
                </div>
            </div>
            </div>
            <div class="card mt-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">Your Order</h6>
                    <span class="text-secondary"><button class="btn btn-outline-primary" routerLink="/order">Order</button></span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">Your Order</h6>
                    <span class="text-secondary"><button class="btn btn-outline-primary" routerLink="/order">Order</button></span>
                </li>
                
            </ul>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card mb-3">
            <div class="card-body">
                <h3>User Details</h3>
                <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">User Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{user.username}}
                </div>
                </div>
                <hr>
                <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{user.name}}
                </div>
                </div>
                <hr>
                <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Address</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{user.address}}
                </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{user.email}}
                    </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Phone No</h6>
                        </div>
                    <div class="col-sm-9 text-secondary">
                            {{user.phone}}
                    </div>
                    </div>
                    <hr>
                <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-info " target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</button>
                </div>
                </div>
            </div>
            </div>

            <div class="row gutters-sm">
            <div class="col-sm-6 mb-3">
                <div class="card h-100">
                <div class="card-body">
                    card 1
                </div>
                </div>
            </div>
            <div class="col-sm-6 mb-3">
                <div class="card h-100">
                <div class="card-body">
                    card 2
                    
                </div>
                </div> 
            </div>
            </div>



        </div>
        </div>

    </div>
</div>