

<div class="container-fluid align-content-center">
    <div class="col-md-6 offset-md-3">
        <h3>Update Inventory Item</h3>
        <form (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label for="name">Item Name</label>
                <input type="text" class="form-control" id="name" [(ngModel)]="inventoryItem.name" name="itemName">
            </div>

            <div class="form-group">
                <label for="quantity">Quantity</label>
                <input type="text" class="form-control" id="quantity" [(ngModel)]="inventoryItem.quantity" name="quantity">
            </div><br>
            <button class="btn btn-success cafe_btn cafe_btn" type="submit">Submit</button>
        </form>
    </div>
</div>

